body{
	background-color: #4099ff;
}
.row{
	background-color: white;
}
.header{
	background-color: white;
}
.ca-logo{
	float: left;
	margin: 15px;
}
.firm-name{
	font-size: 20px;
	padding: 15px 0;
	display: block;
	vertical-align: middle;
	font-family: arial;
}
@media (max-width:730px){
	.ca-logo{
		width: 25%;
	}
	.firm-name{
		font-size: 16px;
	}
}
.navbar-dcr{
	background-color: #0077ff;
}
.navbar-dcr li a{
	color: black;
}
.navbar-brand{
	font-size: 15px;
}
.footer{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.header-right{
	background-image: url(../images/logo/header1.JPG);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	height: 120px;
}
.contact-header{
	padding: 10px 20px;
	background-color: white;
	opacity: .7;
	color: black;
	float: right;
	margin-top: 30px;
	font-weight: bold;
	font-size: 16px;
}
.glyphicon{
	margin: 0 2px 0 25px;
}
.padding20{
	padding: 20px;
}
marquee{
	height: 130px;
	scrollamount: 1;
}